.aim {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
  border: 3px solid white;
  background-color: white;
  z-index: 2;
}

/* Top-right icons container */
.iconsContainer {
  position: absolute;
  top: 2%; /* Default for desktop */
  right: 2%;
  display: flex;
  flex-direction: column;
  gap: 2vh; /* Space between icons scales with the viewport height */
  pointer-events: auto;
}

/* Individual icon styles */
.icon {
  width: 3vw; /* 3% of viewport width */
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

/* Brand logo on bottom-left */
.brandLogoContainer {
  position: absolute;
  bottom: 1%;
  left: 3%;
  pointer-events: auto;
}

.brandLogo {
  width: 12vw;
  height: auto;
}

/* Chat logo on bottom-right */
.chatLogoContainer {
  position: absolute;
  bottom: 2%;
  right: 2%;
  pointer-events: auto;
}

.chatLogo {
  width: 3vw;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
      transform: scale(1.05);
  }
}

.swalPopup{
  font-family: 'Poppins', sans-serif !important;
}

.swalTitle{
  font-family: 'Poppins', sans-serif !important;
  font-size: 32px;
}

.swalActions{
  width: 100%;
}

.swalButton{
  min-width: 40%;
  font-size: 24px;
}


/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .iconsContainer {
    top: 3%; /* Slightly lower than desktop but closer to the top */
    right: 5%; /* More padding from the edge for smaller screens */
    gap: 2vh; /* Keep spacing consistent */
  }

  .icon {
    width: 7vw; /* Slightly larger icons for mobile */
  }

  
  .chatLogo {
    width: 7vw; /* Larger logos for mobile */
  }

  .brandLogo{
    width: 20vw;
  }
}

@media screen and (max-width: 480px) {
  .iconsContainer {
    top: 2%; /* Closer to the top for very small devices */
    right: 5%;
    gap: 2vh; /* Maintain consistent spacing */
  }

  .icon {
    width: 10vw; /* Larger icons for mobile */
  }


  .chatLogo {
    width: 10vw; /* Adjust logos for smaller screens */
  }

  .brandLogo{
    width: 35vw;
  }
}
