.loader-container-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  z-index: 1001;
}

.loader-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10001;
  opacity: 1;
  transition: opacity 3s ease;
}

.loader-background.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* Snapchat Logo Animation */
.snapchat-logo {
  width: 40vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  perspective: 1000px;
}

.ghost-outline {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: snapRotate 2.5s infinite ease;
  transform-style: preserve-3d;
}

@keyframes snapRotate {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  90% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.loading-text-container {
  margin-top: 20px;
  text-align: center;
}

.loading-text {
  color: #000000;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px; 
  padding: 10px;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #e1401d;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 6s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e1401d;
  }
}

/* Loading Line */
.loading-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #e1401d, #f39c12, #e1401d);
  background-size: 200% 100%;
  animation: loading 4s steps(10, end) forwards;
  box-shadow: 0 0 10px rgba(255, 87, 34, 0.6);
  transform-origin: left;
}

@keyframes loading {
  0% {
    transform: scaleX(0);
    transform-origin: left;
    background-position: 0% 0%;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
    background-position: 100% 0%;
  }
}

.powered-by-loader {
  max-width: 150px;
  max-height: 50px;
  object-fit: contain;
  margin-top: 70px;
}