/* General Background */
.loader-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #fe724f, #f76c5e);
  position: relative;
  z-index: 10;
  overflow: hidden;
}

/* Full-Screen Video */
.loader-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensures the video covers the entire screen */
  z-index: 0;
}

/* Overlay Content */
.loader-overlay {
  position: "absolute";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 25%;
}

/* Logo Container */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.loader-logo {
  width: 80px; /* Adjust logo size */
  height: auto;
  margin-bottom: 10px;
}

.loader-title {
  font-size: 36px;
  font-family: "SF Pro Display", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0;
}

/* Loading Message */
.loader-message {
  font-size: 18px;
  font-family: "SF Pro Display", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

/* Loading Bar */
.loading-bar-container {
  width: 20%; /* Adjust width as needed */
  height: 8px; /* Adjust height as needed */
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Background of the progress bar */
  border-radius: 4px;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  background: linear-gradient(to right, #ffffff, #cccccc); /* Gradient effect */
  transition: width 0.3s ease; /* Smooth animation */
}
