* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body, #root, #container, canvas {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed; 
    touch-action: none 
}

canvas {
    display: block;
    position: absolute; 
    top: 0;
    left: 0;
}

.ui-root {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
}